table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  text-align: center;
  font-weight: bold;
}

#mytable {
  color: orange;
}

.mytable_class {
  background: rgba(248, 215, 30, 0.56);
}

/* ul.info {
  list-style: none;
} */

/* ul.info li {
  list-style: none;
} */

ul.info > li {
  list-style: none;
}

/*拓展*/
ul.info > li li:nth-child(2) {
  list-style: none;
}

ol li a {
  text-decoration: none;
}

ol li a[target="_blank"] {
  color:rgba(248, 215, 30, 0.56)
}

ol li a[href="https://google.com"] {
  color:rgba(30, 248, 128, 0.81)
}

ol li a[href*="google"] {
  color:rgba(248, 30, 237, 0.81)
}

ol li a[href^="httpss"] {
  color:rgba(248, 30, 41, 0.81)
}

ol li a[href$=".com.au"]{
  background: #444;
}

ol li a[href*="google"][href$=".com.au"]{
  background: #666;
}